{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'image-canva.css' %}">

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script>
    var img = new Image();
        img.src = '{{ vacante.imagen.url }}';
    var onImageLoad = $(function(){
        
        var canvas=document.getElementById("myCanvas");
        var ctx=canvas.getContext("2d");
        
        // variables used to get mouse position on the canvas
        var $canvas=$("#myCanvas");
        var canvasOffset=$canvas.offset();
        var offsetX=canvasOffset.left;
        var offsetY=canvasOffset.top;
        var scrollX=$canvas.scrollLeft();
        var scrollY=$canvas.scrollTop();
        
        // variables to save last mouse position
        // used to see how far the user dragged the mouse
        // and then move the text by that distance
        var startX;
        var startY;
        
        // some text objects
        var texts=[];
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;
        var font_size = document.querySelector('#font_size');
        var descargar = document.querySelector('#descargar');
        
        // calculate width of each text for hit-testing purposes
        ctx.font= font_size.value +"px verdana";

        for(var i=0;i<texts.length;i++){
            var text=texts[i];
            text.width=ctx.measureText(text.text).width;
            text.height=parseInt(font_size.value);
        }
        
        // this var will hold the index of the selected text
        var selectedText=-1;
        
        // START: draw all texts to the canvas
        draw();
        // clear the canvas draw all texts
        function draw(){
            ctx.clearRect(0,0,canvas.width,canvas.height);
            ctx.drawImage(img,0,0);
            for(var i=0;i<texts.length;i++){
                var text=texts[i];
                ctx.fillText(text.text,text.x,text.y);
            }
        }
        $('.data').change(function(){
            if($(this).is(':checked')){
                var valor =  $(this).val();
                var tempid = $(this).attr('id')+'text';
                var temp = '<input type="text" class="texto" id="'+tempid +'" value="'+valor+ '">';
                $('#textos').append(temp);
                $('#textos').append(label);
                var text = {id:tempid, text:valor,x:300,y:parseInt(font_size.value)};
                text.width = ctx.measureText(text.text).width;
                text.height = parseInt(font_size.value);
                texts.push(text);
                draw();
            }
            else{
                var select = '#'+$(this).attr('id') +'text';
                texts.forEach(function(text,index){
                var idtemp = $(this).attr('id')+'text';
                if(text.id == idtemp){
                    texts.splice(index,1);
                };
            },$(this));
            draw();
            $(select).remove();
        }
        descargar.href = canvas.toDataURL();

        });
        $('#textos').on('input','.texto',function(e){
            texts.forEach(function(text){
                var idtemp = $(this).attr('id');
                if(text.id == idtemp){
                    text.text = $(this).val();
                    text.width=ctx.measureText(text.text).width;
                    text.height=parseInt(font_size.value);
                };
            },$(this));
            descargar.href = canvas.toDataURL();
            draw();
        })
        $('#font_size').change(function(e){
            ctx.font= font_size.value +"px verdana";
            for(i = 0; i<texts.length;i++){
                var text = texts[i];
                text.width=ctx.measureText(text.text).width;
                text.height=parseInt(font_size.value);
            }
            descargar.href = canvas.toDataURL();
            draw();
        })
        // test if x,y is inside the bounding box of texts[textIndex]
        function textHittest(x,y,textIndex){
            var text=texts[textIndex];
            return(x>=text.x && 
            x<=text.x+text.width &&
            y>=text.y-text.height && 
            y<=text.y);
        }
        
        // handle mousedown events
        // iterate through texts[] and see if the user
        // mousedown'ed on one of them
        // If yes, set the selectedText to the index of that text
        function handleMouseDown(e){
            e.preventDefault();
            startX=parseInt(e.clientX-offsetX);
            startY=parseInt(e.clientY-offsetY);
            
            // Put your mousedown stuff here
            for(var i=0;i<texts.length;i++){
                if(textHittest(startX,startY,i)){
                    selectedText=i;
                }
            }
        }
        
        // done dragging
        function handleMouseUp(e){
            e.preventDefault();
            selectedText=-1;
            descargar.href = canvas.toDataURL();
        }
        
        // also done dragging
        function handleMouseOut(e){
            e.preventDefault();
            selectedText=-1;
            descargar.href = canvas.toDataURL();
        }
        
        // handle mousemove events
        // calc how far the mouse has been dragged since
        // the last mousemove event and move the selected text
        // by that distance
        function handleMouseMove(e){
            if(selectedText<0){return;}
            e.preventDefault();
            mouseX=parseInt(e.clientX-offsetX);
            mouseY=parseInt(e.clientY-offsetY);
            
            // Put your mousemove stuff here
            var dx=mouseX-startX;
            var dy=mouseY-startY;
            startX=mouseX;
            startY=mouseY;
            var text=texts[selectedText];
            text.x+=dx;
            text.y+=dy;
            draw();
        }
        // listen for mouse events
        $("#myCanvas").mousedown(function(e){handleMouseDown(e);});
        $("#myCanvas").mousemove(function(e){handleMouseMove(e);});
        $("#myCanvas").mouseup(function(e){handleMouseUp(e);});
        $("#myCanvas").mouseout(function(e){handleMouseOut(e);});
        
    }); // end $(function(){});
    img.onload = onImageLoad
    </script>



<div class="content">
    <div class="canva">
        <canvas id="myCanvas"></canvas>
    </div>
    <div class="form">
        <form action="" id="textoform">

            <div class="separar">
                <div class="checkbox-form">
                    <div class="nombre-vacante item">
                        <input type="checkbox" class="data" name="nombre-vacante" id="nombre-vacante" value="{{ vacante.nombre_vacante }}">
                        <label for="nombre-vacante">Nombre de la vacante</label>
                    </div>
                    <div class="descripcion item">
                        <input type="checkbox" class="data" name="descripcion" id="descripcion" value="{{ vacante.descripcion }}">
                        <label for="descripcion">Descripcion de la vacante</label>
                    </div>
                    <div class="vacantes-disp item">
                        <input type="checkbox" class="data" name="vacantes-disp" id="vacantes-disp" value="{{ vacante.disponibles }}">
                        <label for="vacantes-disp">Cantidad de empleos disponibles</label>
                    </div>
                    <div class="salario item">
                        <input type="checkbox" class="data" name="salario" id="salario" value="{{ vacante.salario }}">
                        <label for="salario">Salario</label>
                    </div>
                    <div class="ubicacion item">
                        <input type="checkbox" class="data" name="ubicacion" id="ubicacion" value="{{ vacante.ubicacion }}">
                        <label for="ubicacion">Ubicación</label>
                    </div>
                    <div class="requisitos item">
                        <input type="checkbox" class="data" name="requisitos" id="requisitos" value="{{ vacante.requisitos }}">
                        <label for="requisitos">Requisitos</label>
                    </div>
                </div>
            
                <div class="text-form">
                    <div id="textos">
                    </div>
                    <input type="number" id="font_size" name="font_size" min="16" value="32">
                        <a href=""  class='boton' id="descargar" download>Descargar</a>
                        <a href="{% url 'cambiar_imagen' vacante.id %}" class="boton">Generar otra imagen</a>
                </div>
            </div>
        
        </form>
    </div>
</div>
{% endblock content %}